@import '../../../../Assetss/Themedefinitions/Themedefine.scss';

.table{
    width: 100%;
    text-align: center;
    @include themify($themes){
        background-color: themed('backgroundTable');
        border: themed('borderTable');
    }
    font-weight: 300;
    font-size: .7rem;
    border-collapse: collapse;
    margin-top: 195px;
    transition: .4s;

    .fix-sticky{
        position: sticky ;     
        top: 234px;
        z-index: 100;
        width: 100%;
        border-collapse: collapse;
        @include themify($themes){
            background-color: themed('backgroundTable');
            color: themed('tableColortxt');
            border: themed('borderTable');

        }   
    }
    td, th{
        @include themify($themes){
            border: themed('borderTable');
        }
        font-weight: 500;
        padding: 6px;
        width: 55px;
        height: 35px;
    }
    tbody tr:hover{
        @include themify($themes){
            background-color: themed('tablehover');
        }
    }
    tbody tr:nth-child(odd){
        background-color:#000000;
    }
    tbody tr:nth-child(even){
        background-color:#181818;
    }
}

tbody{
    animation: SlideDown ease 100s;
}

.td-thamchieu{
    @include themify($themes){
        color: themed('td-thamchieu');
    }
}

.td-tran{
    @include themify($themes){
        color: themed('td-tran');
    }
}

.td-san{
    @include themify($themes){
        color: themed('tr-san');
    }
}

.bg3Col{
    @include themify($themes){
        background-color: themed('bg3col');
        
    }
}

.red-color{
    color:#fd0000 ;
    animation: backGroundRed 1s forwards ; 
}

.green-color{
    color: #08e003 ;
    animation: backGroundGreen 1s ; 
}

.yellow-color{
    color: #f3c117 ;
    animation: backGroundYellow 1s ; 
}

.purple-color{
    color: #d433a9 ;
    animation: backGroundPurple 1s ; 
}

.blue-color{
    color: #00c5c5;
    animation: backGroundBlue 1s ; 
}

.noneChangeColor{
    @include themify($themes){
        color: themed('totalTrading');
    }
    text-align: right;
}

   
// @keyframes backGroundGreen {
//     50% {
//         background-color: rgba(8, 224, 3,0.8);
//         color: rgb(255, 255, 255);
//     }
//     100% {
//       background: transparent;
//     }
//   }

// @keyframes backGroundBlue {
// 50% {
//     background-color: rgba(0, 197, 197,0.8);
//     color: #fff;
// }
// 100% {
//     background: transparent;
// }
// }

// @keyframes backGroundYellow {
// 50% {
//     background-color: rgba(243, 193, 230.8);
//     color: #fff;
// }
// 100% {
//     background: transparent;
// }
// }

// @keyframes backGroundRed {
// 50% {
//     background-color: rgba(253, 0, 0,0.8);
//     color: #fff;
// }
// 100% {
//     background: transparent;
// }
// }

// @keyframes backGroundPurple {
// 50% {
//     background-color: rgb(212, 51, 169,0.8);
//     color: #fff;
// }
// 100% {
//     background: transparent;
// }
// }



@keyframes SlideDown {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(-1000px)
    }
    
}

.none-bg{
    background-color: transparent;
}