@import '../../../../Assetss/Themedefinitions/Themedefine.scss';

.table{
    width: 100%;
    text-align: center;
    @include themify($themes){
        background-color: themed('backgroundTable');
        border: themed('borderTable');
    }
    font-weight: 300;
    font-size: .7rem;
    border-collapse: collapse;
    margin-top: 195px;
    transition: .4s;
    .fix-sticky{
        position: sticky ;     
        top: 234px;
        width: 100%;
        border-collapse: collapse;
        @include themify($themes){
            background-color: themed('backgroundTable');
            color: themed('tableColortxt');
            border: themed('borderTable');

        }   
    }
    td, th{
        @include themify($themes){
            border: themed('borderTable');
        }
        font-weight: 500;
        padding: 6px;
        width: 55px;
        height: 35px;
    }
    tbody tr:hover{
        @include themify($themes){
            background-color: themed('tablehover');
        }
    }
}

.td-thamchieu{
    @include themify($themes){
        color: themed('td-thamchieu');
    }
}

.td-tran{
    @include themify($themes){
        color: themed('td-tran');
    }
}

.td-san{
    @include themify($themes){
        color: themed('tr-san');
    }
}

.bg3Col{
    @include themify($themes){
        background-color: themed('bg3col');
        
    }
}

.red-color{
    color:#fd0000 ;
}

.green-color{
    color: #08e003 ;
}

.yellow-color{
    color: #f3c117 ;
}

.purple-color{
    color: #d433a9 ;
}

.blue-color{
    color: #00c5c5
}

.noneChangeColor{
    @include themify($themes){
        color: themed('totalTrading');
    }
    text-align: right;
}

.backGroundChange{
    background-color: #08e003;
}
