@import '../../../Assetss/Themedefinitions/Themedefine.scss';
.Navbar{
    display: flex;
    align-items: center;
    z-index: 1;
    @include themify($themes){
        background-color: themed('backgroundColor');
    }
    position: fixed;
    margin-top: 157px;
    width: 100%;
    .search-box{
        display: flex;
        align-items: center;
        .input-search{
            @include themify($themes){
                background-color: themed('backgroudInput');
                color: themed('textColor');
            }
            border: 0;
            border-radius: 3px 0 0 3px;
            margin-left: 5px;
            box-sizing: border-box;
            display: inline-block;
            font-family: Helvetica, Arial, Sans-Serif;
            font-size: 13px;
            height: 28px;
            line-height: 25px;
            padding: 0 5px;
            position: relative;
            vertical-align: top;
            width: 180px;
            text-transform: uppercase;
            transition: all 0.2s ease;
            outline-style: none;
        }
        .input-search:hover, .input-search:focus{
            @include themify($themes){
                background-color: themed('backgroudInputHover');
                color: themed('textColor');
            }
        }
        .button-search{
            border-radius: 0 3px 3px 0;
            display: inline-block;
            height: 28px;
            width: 30px;
            line-height: 20px;
            padding: 0 0px;
            border: 0;
            @include themify($themes){
                color: themed('textNavbar');
                background-color: themed('buttonActive');
            }
            cursor: pointer;
            text-align: center;
            vertical-align: top;
            font-size: 12px;
            transition: all 0.2s ease;
            outline-style: none;
        }
    }
    .primary{
        list-style-type: none;
        display: flex;
        align-items: center;
        .tabWatchList-hose-vn30:hover .sub-menu-item{
            display: block;
        }
        .tabWatchList{
            @include themify($themes){
                color: themed('textNavbar');
            }
            .sub-menu-item{
                list-style-type: none;
                position: absolute;
                width: 200px;
                margin-top: 1px;
                margin-left: 5px;
                box-shadow: 3px 5px 20px rgb(0 0 0 / 50%);
                border-top: 2px solid #236abb;
                display: none;
                .submenu-list{
                    padding: 10px;
                    @include themify($themes){
                        background-color: themed('subMenubg');
                        color:  themed('textColor');
                    }
                    cursor: pointer;
                    font-size: .9rem;
                }
                .submenu-list-active{
                    padding: 10px;
                    @include themify($themes){
                        background-color: themed('submenuActive');
                    }
                    cursor: pointer;
                    font-size: .9rem
                }
                .submenu-list:hover{
                    @include themify($themes){
                        color: themed('submenuHover');
                    }
                    cursor: pointer;
                }
                
            }
            .follow-list:hover{
                @include themify($themes){
                    background-color: themed('buttonActive');
                    color: themed('textNavbar');
                }
            }
            .active{
                background-color:#236abb !important ;
                color: #fff !important;
            }
            .follow-list{
                display: flex;
                white-space: nowrap;
                align-items: center;
                @include themify($themes){
                    background-color:  themed('follow-list');
                    color: themed('textColor');
                }
                border-radius: 4px 4px 0 0;
                height: 30px;
                font-size: .8rem;
                line-height: 30px;
                margin-left: 5px;
                padding: 10px;
                cursor: pointer;
                .arrow-down{
                    margin-left: 5px;
                }
                .star-icon{
                    color: #f39200;
                }
            }
        }
    }
    .right-icon{
        flex: 1;
        flex-direction: row-reverse;
        height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .secondary{
            color: #fff;
            list-style-type: none;
            display: inline-flex;
            align-items: center;
            .icon-three-dot{
                font-size: 1rem;
                margin-right: 5px;
                display: flex;
                @include themify($themes){
                    color: themed('icon-rightColor');
                }
                align-items: center;
                height: 30px;
                padding-left: 5px;
                padding-right: 5px;
                text-align: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                transition: background-color 0.2s;
            }
            .icon-toggle{
                margin-right: 5px;
                .icon-secondary{
                    font-size: 1rem;
                    @include themify($themes){
                    color: themed('icon-rightColor');
                }
                    display: flex;
                    align-items: center;
                    height: 30px;
                    padding-left: 5px;
                    padding-right: 5px;
                    text-align: center;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    transition: background-color 0.2s;
                }
               
            }
            .icon-secondary:hover,.icon-three-dot:hover{
                @include themify($themes){
                    color: themed('icon-rightHover');
                    background-color: themed('icon-rightBg');
                }
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .activeSlide{
                margin-right: 5px;
                .icon-secondary{
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    padding-left: 5px;
                    padding-right: 5px;
                    text-align: center;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    transition: background-color 0.2s;
                }
                @include themify($themes){
                    color: themed('icon-rightHover');
                    background-color: themed('icon-rightBg');
                }
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
        
    }
    
}

