.btn-inp {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}


.Login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../stlye/img/bgdangnhap.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-logo {
    background-image: url(../stlye/img/logo-company.png);
    width: 62%;
    height: 40px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: block;
    position: relative;
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #197fc1;
    border-radius: 20px;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2 {
    color: #f8f8f8;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

form .form-inner .form-group label {
    display: block;
    color: #f8f8f8;
    font-size: 16px;
    transition: 0.4s;
}

form .form-inner .form-group:focus-within label {
    color: #f9b258;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 12px 15px;
    background-color: #f8f8f8;
    border-radius: 4px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid #f9b258;
}

form .form-inner input[type="submit"] {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px 15px;
    color: #f8f8f8;
    border-radius: 8px;
    background-color: #2f6bb1;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    transition: 0.4s;
}

form .form-inner .error {
    color: #f1c660;
    margin-bottom: 5px;
    text-align: center;
}

.login-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 -10px;
}

.login-text {
    text-decoration: none;
    color: #fff;
}

.login-text:hover {
    text-decoration: underline;
}

.log-out-btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    padding: 20px 20px;
    color: #f8f8f8;
    border-radius: 8px;
    background-color: #ba9751;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    transition: 0.4s;
}

.lang {
    color: #f8f8f8;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.lang:hover {
    text-decoration: none;
}

