/* Headerr */

.header__honme {
    background-color: #3c3c3cf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header {
    cursor: url(../../stlye/img/cursor_home.png), auto;
    width: 250px;
}

.log-in-btn {
    margin-right: 20px;
    width: 100px;
    border-radius: 3px;
    background-color: #236abb;
    color: #fff;
    line-height: 20px;
    transition: all 0.15s;
    border: none;
    outline: none;
    cursor: pointer;
}

.log-in-btn:hover {
    background-color: #2776d0;
}