/* Headerr */

.header__home-dark {
    background-color: #3c3c3cf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}

.header__home-light {
    background-color: #236abb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}


.logo_header {
    cursor: url(../../stlye/img/cursor_home.png), auto;
    width: 250px;
}

.log-in{
    display: flex;
    align-items: center;
    justify-content: center;

}

.toggle-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.toggle-info:hover{
    background-color: #236abb;
    border-radius: 6px;
}

.log-in-btn {
    margin-right: 20px;
    width: 100px;
    border-radius: 3px;
    background-color: #236abb;
    color: #fff;
    line-height: 20px;
    transition: all 0.15s;
    border: none;
    outline: none;
    cursor: pointer;
}

.log-in-btn:hover {
    background-color: #2776d0;
}

/*Setting box*/
.account-dropdownlist{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}
.wrap-pane-setting{
    width: 250px;
    height: 160px;
    font-size: .8rem;
    background-color: #464646;
    color: #fff;
    padding:16px;
    border-radius: 6px;
}

.wrap-setting h5{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

.setting-box {
    background-color: #222;
    border-radius: 5px;
    max-height: 250px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.setting-pane{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.setting-option input[type="radio"]{
    margin-right: 6px;
}

.log-in-btn::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #2c2525;
    height: 40px;
    right: 60px;
    transform: translateY(-74%);
}