@import '../../../Assetss/Themedefinitions/Themedefine.scss';

.header{
    @include themify($themes){
        background-color: themed('headerColor');
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_header {
        cursor: url(../../../Assetss/img/cursor_home.png), auto;
        width: 250px;
    }
    .date-clock{
        display: flex;
        justify-content: center;
        @include themify($themes){
            color: themed('dateTimeColor');
        }
        align-items: center;
        font-size: 1rem;
        line-height: 40px;
        margin-right: 25px;
        margin-left: 20px;
        .clock-icon{
            @include themify($themes){
                color: themed('clockColor');
            }
            transition: .4s;
            font-size: 1rem;
            margin-right: 4px;
        }
    }
    .logout{
        display: flex;
        align-items: center;
        justify-content: center;
        .logout-btn {
            margin-right: 20px;
            width: 100px;
            border-radius: 3px;
            @include themify($themes){
                background-color: themed('buttonLogout');
                color:themed('textBtnLogout') ;
            }
            
            line-height: 20px;
            transition: all 0.15s;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 4px;
        }
        .wrap{
            .toggle-info:hover{
                @include themify($themes){
                    color: themed('info-toggle');
                }
                border-radius: 6px;
                cursor: pointer;
            }
            .toggle-info{
                @include themify($themes){
                    color: themed('info-color');
                }
            }
        }
        .logout-btn:hover {
            @include themify($themes){
                background-color: themed('log-outhover');
            }
        }
        .logout-btn::after{
            content: "";
            display: block;
            position: absolute;
            @include themify($themes){
              border-right: themed('logout-after');
            }
            height: 40px;
            right: 65px;
            transform: translateY(-76%);
        } 
    }
}


.toggle-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 5px;
}


/*Setting box*/
.account-dropdownlist{
    position: fixed;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
    right: 6px; 
    z-index: 10;
}

.img-logo-lang{
    width: 40px;
    cursor: pointer;
    margin-top: 3px;
}

.cursor-pointer{
    cursor: pointer;
}

.wrap-pane-setting-dark{
    width: 300px;
    height: 100%;
    font-size: .8rem;
    background-color: #464646;
    color: #fff;
    padding:16px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px 2px;
    border-radius: 6px;
    animation: fadeIn .4s cubic-bezier(.2, .06, .05, .95);
    transition: all ease-in-out .6s;
    .usernumber{
        text-align: center;
        font-size: 1.1rem;
        font-style: italic;
        margin-bottom: 10px;
        color: #fff;
    }
    .setting-box {
        background-color: #222;
        border-radius: 5px;
        max-height: 250px;
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-top: 5px;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px 2px;

    }
}

.wrap-pane-setting-light{
    width: 300px;
    height: 100%;
    font-size: 0.8rem;
    background-color: #efefef;
    color: #fff;
    padding: 16px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px 2px;
    border-radius: 6px;
    animation: fadeIn .4s cubic-bezier(.2, .06, .05, .95);
    transition: all ease-in-out .6s;
    .usernumber{
        text-align: center;
        font-size: 1.1rem;
        font-style: italic;
        margin-bottom: 10px;
        color: #333;
    }
    .setting-box {
        background-color: #f5f5f5;
        border-radius: 5px;
        max-height: 250px;
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-top: 5px;
        color: #000;
        box-shadow: rgb(0 0 0 / 30%) 0px 0px 5px 2px;

    }
}

.wrap-setting h5{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

.setting-pane{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.setting-option{
    display: flex;
    align-items: center;
}

.setting-option input[type="radio"]{
    margin-right: 10px;
    height: 16px;
    width: 16px;
    opacity: 1;
    cursor: pointer;
}

.setting-option input[type="radio"]:hover :checked{
    opacity: .1;
}


.info-icon{
    font-size: 1.2em;
    font-size: 1rem;
}

.info-icon-arrow{
    font-size: 1rem;
    margin-left: 4px;
}

.blue-hover{
    display: flex;
    justify-content: center;
    align-items: center;
}



.moving-band{
    margin-right: 25px;
}

.marquee-header{
    color: #fff;
}

.marquee-item{
    font-size: 1rem;
    color: #fff;
}

.marquee-item:nth-child(2n+0){
    margin-right: 45px;
    font-size: .8rem;
}

.marquee-item:nth-child(2n+1){
    color: #e2b81f;
    font-weight: 500;
    font-size: .8rem;
}